[Desktop Entry]
Type=Application
Name=Echo
Comment=Manage local Docker environments
Exec=echo
Icon=echo
Terminal=false
StartupNotify=true
StartupWMClass=echo
Categories=Development;
